body{
	margin: 0;
	padding: 0;
	background-image: url(bgimage.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}

.loginbox{
	width: 320px;
	height: 420px;
	background: #170055;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}

.i1{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.loginbox input{
	width: 100%;
	margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="email"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.loginbox input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.loginbox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #66B3EF;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #E63E6D;
	color: #000;
}

.loginbox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}

.loginbox a:hover{
	color: #F6D167;
}

/* media queries */

/* tablets */
@media screen and (max-width: 768px);
{
loginbox{
	float:none;
	width: 50%;
	margin:auto 0;
}

i1{
	float: none;
	width: 30%;
}
}

/* mobiles */
@media screen and max-width: 480px;
{
loginbox{
	float: none;
	width: 70%;
	margin:auto 0;
}
i1{
	float: none;
	width: 40%;
}



